.navbar{
    display:flex;
    justify-content: space-around;
    width:100%;
    height:40%;
}
.navbar img{
   width:50px;
   height:50px;
   margin-left:2px;
   margin-right:40px;
   left:20px;
   
    
}

.navbar-container{
    display:flex;

}
.navbar-container a{
    margin: 5px;
    padding:5px;
    cursor: pointer;
}
.navbar-sign{
    padding:11px;
    margin-left:15px;
    cursor: pointer;
}
.navbar-sign button{
    border-radius: 15px;
    width:70px;
    height: 30px;
    border:none;
    background-color: blueviolet;
    font-weight: 700;
    cursor: pointer;
}
.navbar-image{
    display:flex;
}
.navbar-image h1{
    font-size: 37px;
}
.navbar-image h1_1{
    color:blueviolet;
}